a:link {
    color: rgb(135, 135, 241);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(135, 135, 241);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(103, 103, 241);
    background-color: transparent;
}

.footer {
    background-color: #222;
    display: flex;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: left;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0
}

.footer a:hover {
    color: #bdbdbd;
}