footer {
  background-color: #222;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer_container {
  width: 100%;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_icons {
  display: flex;
}

.footer_icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0px 15%;
}
